
/* App */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* global styles */
body {
  font-family: 'Carter One', cursive !important;
}

.font {
  font-family: 'Carter One', cursive !important;
}

.white-shadow {
  text-shadow: 1px 1px 3px white;
}

/* Navbar */
.navbar-brand, .nav-link {
  color: white !important;
}

.bg-dark {
  background: linear-gradient(to right, #271003 40%, #a14007 117%);
  border-bottom: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 5px 15px 5px 15px;
}

.dropdown-menu {
  border-style: ridge;
  border-width: 2px;
  border-color: black;
  background-color: #a14007;
}

/* Jumbotron */
.jumbotron {
  background-image: url(/assets/images/sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 68%;
}

